PROJECT_NAME={{{ projectName }}}
PORT=9000
JSON_BODY_LIMIT=10mb

MONGODB_URI=mongodb://localhost:27017/{{{ projectName }}}

JWT_SECRET=
JWT_EXPIRES_IN=7d

EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465

ACCESSKEYID=
SECRET_KEY=
REGION=
BUCKET=
