PROJECT_NAME={{{ projectName }}}
PORT=9000
JSON_BODY_LIMIT=10mb

MONGODB_URI=mongodb://localhost:27017/{{{ projectName }}}

JWT_SECRET=8UTe2s24GChG7PlcI4YAlfYBdaPZUXru
JWT_EXPIRES_IN=7d

### DO NOT USE THIS IN PRODUCTION, THIS IS FOR TESTING PURPOSES ONLY ###
## Get mails sent to this address by visiting https://ethereal.email/
## Do login with the credentials below and go to Messages
EMAIL_USER=felicity.kessler40@ethereal.email
EMAIL_PASSWORD=qafrvWg2dC1w5CgY5e
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587

## Gmail SMTP settings
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=465

## AWS S3 credentials for file uploads, default local storage is used if not provided
# ACCESSKEYID=
# SECRET_KEY=
# REGION=
# BUCKET=
